<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">

            <div class="panel-body">

            <%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= f.number_field :amount, placeholder: "Amount", class: "form-control", style: "padding:4px", style: "width:300px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :identifier, placeholder: "Identifier", class: "form-control", style: "padding:4px", style: "width:300px" %><br />
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-default col-md-5", style:"height:40px"  %>
  </div>
<% end %>



</div>
            </div>
        </div>
    </div>
