<h1 class="text-muted">Listing Payments</h1>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-left"><h3>Balance: <%= number_to_currency(current_user.current_balance) %></h3></div>
        <!--<form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->

    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    <div class="row">
        <div class=".col-md-3">
            <table class="table table-striped table-condensed">


  <thead>
    <tr>
      <th>User</th>
      <th>Year</th>
      <th>Amount</th>
      <th>Identifier</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.user.full_name %></td>
        <td><%= payment.year %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.identifier %></td>
        <td><% if !current_user.is_admin? %>
        <%= link_to 'Show', payment %>
        <% else %>
        <td><%= link_to 'Admin Show',admin_payments_show_path(payment) %>
        <% end %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', admin_payments_delete_path(payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path, :class => "btn btn-default col-md-4 col-md-offset-3", style:"height:40px" %>
