<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<p>
  <strong>Year:</strong>
  <%= @payment.year %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @payment.identifier %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= 
if current_user.is_admin?
      link_to 'Back', admin_payments_path
    else
      link_to 'Back', payments_path
    end
 %>