<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default col-md-12">

            <div class="panel-body">
<% 
path = request_camps_create_path(@camp_request)
if current_user.is_admin?
  path = admin_request_camps_create_path(@camp_request)
end

if @camp_request.id
  path = request_camps_update_path(@camp_request)
 end %>
<%= form_for @camp_request, :url => path do |f| %>


  <% if @camp_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp_request.errors.count, "error") %> prohibited this camp_request from being saved:</h2>

      <ul>
      <% @camp_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% 
  if current_user.is_admin?

    users = Array.new()
    User.all.each do |user|
      users.push([user.last_name,user.id])
    end
    %>
    <div class="field">
    <%= f.label :user, class: "text-muted" %><br>
    <%= f.select(:user_id, users) %>
  </div>
<%
  end
  %>

  <%

  array = Array.new()
  array.push(['none',nil]);
  @camps.each do |camp|
    array.push([camp.city,camp.id])
  end
%>
  
  <div class="field"><span class="text-muted">First Choice</span><br/>
    <%= f.select(:preference1_id, array) %>
  </div>
  

  <div class="field"><span class="text-muted">Second Choice</span><br/>
    <%= f.select(:preference2_id, array) %>
  </div>
  <div class="field"><span class="text-muted">Third Choice</span><br/>
   <%= f.select(:preference3_id, array) %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Camp Request", :class => "btn btn-default col-md-8 col-md-offset-2", style:"height:40px" %>
  </div>
<% end %>
                </div>
            </div>
        </div>
    </div>

