<h1>Listing camp_requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Balance</th>
      <th>Preference1</th>
      <th>Preference2</th>
      <th>Preference3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_requests.each do |camp_request| %>
      <tr>
        <td><%= camp_request.user.first_name %> <%= camp_request.user.last_name %></td>
        <td><%= camp_request.status %></td>
        <% if !camp_request.status? %>
          <% if camp_request.user.current_balance == 0 %>
            <td>Paid</td>
            <% if camp_request.preference1_id != nil %>
              <td><%= Camp.find(camp_request.preference1_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference1_id, camp_request: camp_request.id) %>]</td>
            <% end %>
            <% if camp_request.preference2_id != nil %>
              <td><%= Camp.find(camp_request.preference2_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference2_id, camp_request: camp_request.id) %>]</td>
            <% end %>
            <% if camp_request.preference3_id != nil %>
              <td><%= Camp.find(camp_request.preference3_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference3_id, camp_request: camp_request.id) %>]</td>
            <% end %>
          <% else %>
            <td><%= camp_request.user.current_balance %></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        <% else %>
          <td>Paid</td>
          <td><%= Camp.find(camp_request.preference1_id).city %></td>
            <% if camp_request.preference2_id != nil %>
              <td><%= Camp.find(camp_request.preference2_id).city %></td>
            <% else %>
              <td></td>
            <% end 
            if camp_request.preference3_id != nil %>
              <td><%= Camp.find(camp_request.preference3_id).city %></td>
            <% else %>
              <td></td>
            <% end %>
        <% end %>

        <td><%= link_to 'Show', camp_request %></td>
        <td><%= link_to 'Edit', edit_camp_request_path(camp_request) %></td>
        <td><%= link_to 'Destroy', camp_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Camp request', new_camp_request_path %>
