<h1 class="text-muted">Camp Requests</h1>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



    </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
    <div class="row">
        <div class=".col-md-3">
            <table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Preference1</th>
      <th>Preference2</th>
      <th>Preference3</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_requests.each do |camp_request| %>
      <tr>
        <td><%= camp_request.user.first_name %> <%= camp_request.user.last_name %></td>
        <td><%= camp_request.status %></td>
        <% if !camp_request.status? %>
        <% if camp_request.preference1_id != nil %>
        <td><%= Camp.find(camp_request.preference1_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference1_id, camp_request: camp_request.id) %>]</td>
        <% end %>
        <% if camp_request.preference2_id != nil %>
        <td><%= Camp.find(camp_request.preference2_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference2_id, camp_request: camp_request.id) %>]</td>
        <% end %>
        <% if camp_request.preference3_id != nil %>
        <td><%= Camp.find(camp_request.preference3_id).city %> [<%= link_to 'Accept', camp_request_assign_path(user: camp_request.user,camp: camp_request.preference3_id, camp_request: camp_request.id) %>]</td>
        <% end %>
        <% else %>
        <td><%= Camp.find(camp_request.preference1_id).city %></td>
        <% if camp_request.preference2_id != nil %>
        <td><%= Camp.find(camp_request.preference2_id).city %></td>
        <% end 
        if camp_request.preference3_id != nil %>
        <td><%= Camp.find(camp_request.preference3_id).city %></td>
        <% end %>
        <% end %>
        <% if can? :read, camp_request %>
            <td><%= link_to 'Show', camp_request %></td>
        <% end %>
        <% if can? :update, camp_request %>
            <td><%= link_to 'Edit', edit_camp_request_path(camp_request) %></td>
        <% end %>
        <% if can? :destroy, camp_request %>
            <td><%= link_to 'Destroy', camp_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <%= link_to 'New Camp request', new_camp_request_path, :class => "btn btn-default col-md-12", style:"height:40px" %>

                </div>

</div>
            </div>
        </div>
    </div>

