<p id="notice"><%= notice %></p>

<p>
  <strong>Camp:</strong>
  <%= @schedule.camp %>
</p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<p>
  <strong>Event:</strong>
  <%= @schedule.event %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
