<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Approval</th>
      <th>Users tagged</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.user %></td>
        <td><%= photo.approval %></td>
        <td><%= photo.users_tagged %></td>
        <td><%= photo.image %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
