<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @photo.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @photo.references %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @photo.boolean %>
</p>

<p>
  <strong>References:</strong>
  <%= @photo.references %>
</p>

<p>
  <strong>String:</strong>
  <%= @photo.string %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
