<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user.first_name + " " + @photo.user.last_name %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @photo.approval %>
</p>

<p>
  <strong>Users tagged:</strong>
  <%= @photo.users_tagged %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image_url.to_s, :class => "thmb" %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
