<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">

            <div class="panel-body">

            <%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
This will need to be approved by another admin.

  <div class="field">
    <%= f.label :year, class:"text-muted" %><br>
    <% 
    current_year = DateTime.now.year;
    years = Array.new()


    years[0] = [current_year,current_year]
    years[1] = [current_year+1,current_year+1]
    years[2] = [current_year+2,current_year+2]

    %>
    <%= f.select( :year, options_for_select(years)) %>
  </div>

  <div class="field">
  <%= f.text_field :amount, placeholder: "Amount", class: "form-control", style: "padding:4px", style: "width:300px" %><br />
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-default col-md-5", style:"height:40px"  %>
  </div>
<% end %>
