<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :admin_approver %><br>
    <%= f.text_field :admin_approver %>
  </div>
  <div class="field">
    <%= f.label :approved_date %><br>
    <%= f.date_select :approved_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
