<p id="notice"><%= @notice %></p>

<p>
  <strong>Year:</strong>
  <%= @cost.year %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</p>

<p>
<% if @cost.approved_date != nil %>
  <strong>Admin approver:</strong>
  <%= @cost.admin_approver.first_name %> <%= @cost.admin_approver.last_name %>
</p>

<p>
  <strong>Approved date:</strong>
  <%= @cost.approved_date %>
</p>
<% end %>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
