<h1>Listing costs</h1>

<table>
  <thead>
    <tr>
    <th>Created By</th>
      <th>Year</th>
      <th>Amount</th>
      <th>Admin approver</th>
      <th>Approved date</th>
      <th>Approve</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.created_by.first_name %> <%= cost.created_by.last_name %></td>
        <td><%= cost.year %></td>
        <td><%= cost.amount %></td>
        <% if cost.admin_approver == nil %><td></td><td></td><td><%= link_to 'Approve', cost_approve_path(cost: cost) %></td><% else %>
        <td><%= cost.admin_approver.first_name %> <%= cost.admin_approver.last_name %></td>
        <td><%= cost.approved_date %></td>
        <td>Approved</td>
        <% end %>

        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost', new_cost_path %>
