<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= form_for @medical_form, :html => {:multipart => true} do |f| %>
                  <% if @medical_form.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@medical_form.errors.count, "error") %> prohibited this medical_form from being saved:</h2>

                      <ul>
                      <% @medical_form.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.label :user %><br>
                    <%= current_user.first_name + " " + current_user.last_name %>
                  </div>
                  <div class="field">
                    <%= f.label :camp %><br>
                    <%= f.text_field :camp, autofocus: true, placeholder: "Camp", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :information %><br>
                    <%= f.text_area :information, autofocus: true, placeholder: "Information", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :insurance_card_image %><br>
                    <%= f.file_field :insurance_card_image %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_name %><br>
                    <%= f.text_field :physician_name, autofocus: true, placeholder: "Physician Name", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_number %><br>
                    <%= f.text_field :physician_number, autofocus: true, placeholder: "Physician Phone Number", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_address_1 %><br>
                    <%= f.text_field :physician_address_1, autofocus: true, placeholder: "Physician Address 1", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_address_2 %><br>
                    <%= f.text_field :physician_address_2, autofocus: true, placeholder: "Physician Address 2", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_city %><br>
                    <%= f.text_field :physician_city, autofocus: true, placeholder: "Physician City", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_state %><br>
                    <%= f.text_field :physician_state , autofocus: true, placeholder: "Physician State", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :physician_zip %><br>
                    <%= f.text_field :physician_zip, autofocus: true, placeholder: "Physician ZIP", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :health_insurance_company %><br>
                    <%= f.text_field :health_insurance_company, autofocus: true, placeholder: "Health Insurance Company", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :policy_number %><br>
                    <%= f.text_field :policy_number, autofocus: true, placeholder: "Policy Number", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :company_address %><br>
                    <%= f.text_field :company_address, autofocus: true, placeholder: "Company Address", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :company_number %><br>
                    <%= f.text_field :company_number, autofocus: true, placeholder: "Company Phone Number", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :health_insurance_agent %><br>
                    <%= f.text_field :health_insurance_agent, autofocus: true, placeholder: "Health Insurance Agent", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :allergies %><br>
                    <%= f.text_area :allergies, autofocus: true, placeholder: "Any notable allergies?", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :diet_restrictions %><br>
                    <%= f.text_area :diet_restrictions, autofocus: true, placeholder: "Any diet restrictions?", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :recent_illness_injury %><br>
                    <%= f.text_area :recent_illness_injury, autofocus: true, placeholder: "Any recent injuries or illnesses?", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :medications %><br>
                    <%= f.text_area :medications, autofocus: true, placeholder: "Are you on any medications?", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :additional_conditions %><br>
                    <%= f.text_area :additional_conditions, autofocus: true, placeholder: "Any additional conditions?", class:"form-control", style:"padding:4px", style: "width:250px" %>
                  </div>
                  <div class="field">
                    <%= f.label :date_of_last_tetanus_shot %><br>
                    <%= f.date_select :date_of_last_tetanus_shot %>
                  </div>
                  <div class="field">
                    <%= f.label :user_approval %><br>
                    <%= f.check_box :user_approval %>
                  </div>
                  <div class="field">
                    <%= f.label :user_approval_date %><br>
                    <%= f.date_select :user_approval_date %>
                  </div>
                  <div class="field">
                    <%= f.label :guardian_approval %><br>
                    <%= f.check_box :guardian_approval %>
                  </div>
                  <div class="field">
                    <%= f.label :guardian_approval_date %><br>
                    <%= f.date_select :guardian_approval_date %>
                  </div>
                  <div class="field">
                    <%= f.label :printed_date %><br>
                    <%= f.datetime_select :printed_date %>
                  </div>
                  <div class="actions">
                    <%= f.submit :class => "btn btn-default col-md-3", style:"height:40px" %>
                  </div>
                <% end %>

                </div>
            </div>
        </div>
    </div>