<%= form_for @medical_form, :html => {:multipart => true} do |f| %>
  <% if @medical_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_form.errors.count, "error") %> prohibited this medical_form from being saved:</h2>

      <ul>
      <% @medical_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :camp %><br>
    <%= f.text_field :camp %>
  </div>
  <div class="field">
    <%= f.label :information %><br>
    <%= f.text_area :information %>
  </div>
  <div class="field">
    <%= f.label :insurance_card_image %><br>
    <%= f.file_field :insurance_card_image %>
  </div>
  <div class="field">
    <%= f.label :physician_name %><br>
    <%= f.text_field :physician_name %>
  </div>
  <div class="field">
    <%= f.label :physician_number %><br>
    <%= f.text_field :physician_number %>
  </div>
  <div class="field">
    <%= f.label :physician_address_1 %><br>
    <%= f.text_field :physician_address_1 %>
  </div>
  <div class="field">
    <%= f.label :physician_address_2 %><br>
    <%= f.text_field :physician_address_2 %>
  </div>
  <div class="field">
    <%= f.label :physician_city %><br>
    <%= f.text_field :physician_city %>
  </div>
  <div class="field">
    <%= f.label :physician_state %><br>
    <%= f.text_field :physician_state %>
  </div>
  <div class="field">
    <%= f.label :physician_zip %><br>
    <%= f.text_field :physician_zip %>
  </div>
  <div class="field">
    <%= f.label :health_insurance_company %><br>
    <%= f.text_field :health_insurance_company %>
  </div>
  <div class="field">
    <%= f.label :policy_number %><br>
    <%= f.text_field :policy_number %>
  </div>
  <div class="field">
    <%= f.label :company_address %><br>
    <%= f.text_field :company_address %>
  </div>
  <div class="field">
    <%= f.label :company_number %><br>
    <%= f.text_field :company_number %>
  </div>
  <div class="field">
    <%= f.label :health_insurance_agent %><br>
    <%= f.text_field :health_insurance_agent %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br>
    <%= f.text_area :allergies %>
  </div>
  <div class="field">
    <%= f.label :diet_restrictions %><br>
    <%= f.text_area :diet_restrictions %>
  </div>
  <div class="field">
    <%= f.label :recent_illness_injury %><br>
    <%= f.text_area :recent_illness_injury %>
  </div>
  <div class="field">
    <%= f.label :medications %><br>
    <%= f.text_area :medications %>
  </div>
  <div class="field">
    <%= f.label :additional_conditions %><br>
    <%= f.text_area :additional_conditions %>
  </div>
  <div class="field">
    <%= f.label :date_of_last_tetanus_shot %><br>
    <%= f.date_select :date_of_last_tetanus_shot %>
  </div>
  <div class="field">
    <%= f.label :user_approval %><br>
    <%= f.check_box :user_approval %>
  </div>
  <div class="field">
    <%= f.label :user_approval_date %><br>
    <%= f.date_select :user_approval_date %>
  </div>
  <div class="field">
    <%= f.label :guardian_approval %><br>
    <%= f.check_box :guardian_approval %>
  </div>
  <div class="field">
    <%= f.label :guardian_approval_date %><br>
    <%= f.date_select :guardian_approval_date %>
  </div>
  <div class="field">
    <%= f.label :printed_date %><br>
    <%= f.datetime_select :printed_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
