<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @medical_form.user.first_name + " " + @medical_form.user.last_name %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @medical_form.camp %>
</p>

<p>
  <strong>Information:</strong>
  <%= @medical_form.information %>
</p>

<p>
  <strong>Insurance card image:</strong>
    <%= image_tag @medical_form.insurance_card_image_url.to_s, :class => "thmb" %>
</p>

<p>
  <strong>Physician name:</strong>
  <%= @medical_form.physician_name %>
</p>

<p>
  <strong>Physician number:</strong>
  <%= @medical_form.physician_number %>
</p>

<p>
  <strong>Physician address 1:</strong>
  <%= @medical_form.physician_address_1 %>
</p>

<p>
  <strong>Physician address 2:</strong>
  <%= @medical_form.physician_address_2 %>
</p>

<p>
  <strong>Physician city:</strong>
  <%= @medical_form.physician_city %>
</p>

<p>
  <strong>Physician state:</strong>
  <%= @medical_form.physician_state %>
</p>

<p>
  <strong>Physician zip:</strong>
  <%= @medical_form.physician_zip %>
</p>

<p>
  <strong>Health insurance company:</strong>
  <%= @medical_form.health_insurance_company %>
</p>

<p>
  <strong>Policy number:</strong>
  <%= @medical_form.policy_number %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @medical_form.company_address %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @medical_form.company_number %>
</p>

<p>
  <strong>Health insurance agent:</strong>
  <%= @medical_form.health_insurance_agent %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @medical_form.allergies %>
</p>

<p>
  <strong>Diet restrictions:</strong>
  <%= @medical_form.diet_restrictions %>
</p>

<p>
  <strong>Recent illness injury:</strong>
  <%= @medical_form.recent_illness_injury %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @medical_form.medications %>
</p>

<p>
  <strong>Additional conditions:</strong>
  <%= @medical_form.additional_conditions %>
</p>

<p>
  <strong>Date of last tetanus shot:</strong>
  <%= @medical_form.date_of_last_tetanus_shot %>
</p>

<p>
  <strong>User approval:</strong>
  <%= @medical_form.user_approval %>
</p>

<p>
  <strong>User approval date:</strong>
  <%= @medical_form.user_approval_date %>
</p>

<p>
  <strong>Guardian approval:</strong>
  <%= @medical_form.guardian_approval %>
</p>

<p>
  <strong>Guardian approval date:</strong>
  <%= @medical_form.guardian_approval_date %>
</p>

<p>
  <strong>Printed date:</strong>
  <%= @medical_form.printed_date %>
</p>

<%= link_to 'Edit', edit_medical_form_path(@medical_form) %> |
<%= link_to 'Back', medical_forms_path %>
<%= link_to 'Print PDF', medical_form_path(@medical_form, format: "pdf") %>
