<p id="notice"><%= notice %></p>

<p>
  <strong>Occupation:</strong>
  <%= @questionnaire.occupation %>
</p>

<p>
  <strong>Why participate:</strong>
  <%= @questionnaire.why_participate %>
</p>

<p>
  <strong>Carpentry:</strong>
  <%= @questionnaire.carpentry %>
</p>

<p>
  <strong>Plumbing:</strong>
  <%= @questionnaire.plumbing %>
</p>

<p>
  <strong>Electrical:</strong>
  <%= @questionnaire.electrical %>
</p>

<p>
  <strong>Roofing:</strong>
  <%= @questionnaire.roofing %>
</p>

<p>
  <strong>Song leader:</strong>
  <%= @questionnaire.song_leader %>
</p>

<p>
  <strong>Bible:</strong>
  <%= @questionnaire.bible %>
</p>

<p>
  <strong>Recreation:</strong>
  <%= @questionnaire.recreation %>
</p>

<p>
  <strong>Lifeguard:</strong>
  <%= @questionnaire.lifeguard %>
</p>

<p>
  <strong>Accounting:</strong>
  <%= @questionnaire.accounting %>
</p>

<p>
  <strong>Firstaid:</strong>
  <%= @questionnaire.firstaid %>
</p>

<p>
  <strong>Cpr firstaid:</strong>
  <%= @questionnaire.cpr_firstaid %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @questionnaire.camp %>
</p>

<p>
  <strong>Year:</strong>
  <%= @questionnaire.year %>
</p>

<p>
  <strong>Site leader:</strong>
  <%= @questionnaire.site_leader %>
</p>

<p>
  <strong>Involved activities:</strong>
  <%= @questionnaire.involved_activities %>
</p>

<p>
  <strong>Camp director approval:</strong>
  <%= @questionnaire.camp_director_approval %>
</p>

<p>
  <strong>Camp director approval date:</strong>
  <%= @questionnaire.camp_director_approval_date %>
</p>

<p>
  <strong>User approval:</strong>
  <%= @questionnaire.user_approval %>
</p>

<p>
  <strong>User approval date:</strong>
  <%= @questionnaire.user_approval_date %>
</p>

<p>
  <strong>Printed date:</strong>
  <%= @questionnaire.printed_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @questionnaire.user.first_name + " " + @questionnaire.user.last_name %>
</p>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |

<% if current_user.is_admin? %>
    <%= link_to 'Back', questionnaires_path %>
<% else %>
    <%= link_to 'Back', forms_path %>
<% end %>
<%= link_to 'Print PDF', questionnaire_path(@questionnaire, format: "pdf") %>
