<%= form_for(@share_medical_request) do |f| %>
  <% if @share_medical_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share_medical_request.errors.count, "error") %> prohibited this share_medical_request from being saved:</h2>

      <ul>
      <% @share_medical_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
