<h1>Listing share_medical_requests</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>References</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @share_medical_requests.each do |share_medical_request| %>
      <tr>
        <td><%= share_medical_request.references %></td>
        <td><%= share_medical_request.references %></td>
        <td><%= link_to 'Show', share_medical_request %></td>
        <td><%= link_to 'Edit', edit_share_medical_request_path(share_medical_request) %></td>
        <td><%= link_to 'Destroy', share_medical_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Share medical request', new_share_medical_request_path %>
