<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>Email</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.description %></td>
        <td><%= event.address_line1 %></td>
        <td><%= event.address_line2 %></td>
        <td><%= event.email %></td>
        <td><%= event.city %></td>
        <td><%= event.zip %></td>
        <td><%= event.state %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
