
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">


            <%= form_for(@camp_assignment) do |f| %>
  <% if @camp_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp_assignment.errors.count, "error") %> prohibited this camp_assignment from being saved:</h2>

      <ul>
      <% @camp_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= @camp_assignment.user.full_name %>
  </div>
  <div class="field">
    <% 
      camps_select = Array.new()
      @camps.each do |camp|
        camps_select.push([camp.city,camp.id])
      end

    %>
    <%= f.label :camp %><br>
    <%= f.select( :camp, camps_select) %>
  </div>
  <div class="field">
    <%
      permission_levels = Array.new()
      permission_levels.push(['Admin',5])
      permission_levels.push(['Camp Director',4])
      permission_levels.push(['Site Leader',3])
      permission_levels.push(['Jr. Site Leader',2])
      permission_levels.push(['Camper',1])
    %>
    <%= f.label :permission_level %><br>
    <%= f.select( :permission_level,permission_levels) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
            </div>
        </div>
    </div>
