
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-body">
<% 
path = assignment_camps_create_path()
if @camp_assignment.id
  path = assignment_camps_update_path(@camp_assignment)
 end %>
<%= form_for @camp_assignment, :url => path do |f| %>

  <% if @camp_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp_assignment.errors.count, "error") %> prohibited this camp_assignment from being saved:</h2>

      <ul>
      <% @camp_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @camp_assignment.user %>
  <div class="field">
    <%= f.label :user %><br>
    <%= @camp_assignment.user.full_name %>
  </div>

<% else %>
  
  <div class="field">
    <% 
      users_select = Array.new()
      @users.each do |user|
        users_select.push([user.full_name,user.id])
      end

    %>
    <%= f.label :user %><br>
    <%= f.select( :user_id, users_select) %>
  </div>

<% end %>
  <div class="field">
    <% 
      camps_select = Array.new()
      @camps.each do |camp|
        camps_select.push([camp.city,camp.id])
      end

    %>
    <%= f.label :camp %><br>
    <%= f.select( :camp_id, camps_select) %>
  </div>
  <div class="field">
    <%
      permission_levels = Array.new()
      permission_levels.push(['Admin',5])
      permission_levels.push(['Camp Director',4])
      permission_levels.push(['Site Leader',3])
      permission_levels.push(['Jr. Site Leader',2])
      permission_levels.push(['Camper',1])
    %>
    <%= f.label :permission_level %><br>
    <%= f.select( :permission_level,permission_levels) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
            </div>
        </div>
    </div>
