<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @camp.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @camp.end_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @camp.city %>
</p>

<p>
  <strong>Hq address:</strong>
  <%= @camp.hq_address %>
</p>

<p>
<strong>Campers:</strong>
 <% @camp.camp_assignments.each do |assignment| %>
 	<%= assignment.user.first_name %> <%= assignment.user.last_name %>,
 <% end %>
</p>


    <% if can? :update, Camp %>
        <%= link_to 'Edit', edit_camp_path(@camp) %> |
    <% end %>

    <% if current_user.is_admin? %>
        <%= link_to 'Admin Back', admin_camps_path %>
    <% else %>
        <%= link_to 'Back', camps_path %>
    <% end %>
