<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @camp.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @camp.end_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @camp.city %>
</p>

<p>
  <strong>Hq address:</strong>
  <%= @camp.hq_address %>
</p>

<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
