<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @camp_permission_form.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @camp_permission_form.type %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @camp_permission_form.relationship %>
</p>

<p>
  <strong>Name:</strong>
  <%= @camp_permission_form.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @camp_permission_form.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @camp_permission_form.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @camp_permission_form.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @camp_permission_form.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @camp_permission_form.zip %>
</p>

<p>
  <strong>Business:</strong>
  <%= @camp_permission_form.business %>
</p>

<p>
  <strong>Work phone number:</strong>
  <%= @camp_permission_form.work_phone_number %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @camp_permission_form.phone_number %>
</p>

<p>
  <strong>Signature of guardian:</strong>
  <%= @camp_permission_form.signature_of_guardian %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @camp_permission_form.approval %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @camp_permission_form.camp %>
</p>

<p>
  <strong>Printed date:</strong>
  <%= @camp_permission_form.printed_date %>
</p>

<%= link_to 'Edit', edit_camp_permission_form_path(@camp_permission_form) %> |
<%= link_to 'Back', camp_permission_forms_path %>
<%= link_to 'Print PDF', camp_permission_form_path(@camp_permission_form, format: "pdf") %>
