<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @site.string %>
</p>

<p>
  <strong>References:</strong>
  <%= @site.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @site.references %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
