<!DOCTYPE html>
<html>
<head>
  <title>SalkehatchieB</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% admin = false;
       director = true;
    if !current_user%>
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-12 text-center">
            <h2>Salkehatchie Camps</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= yield %>
                </div>
            </div>
        </div>

    <% else %>
    <div class="row top">
        <div class="col-md-5 header">
        <div class="text-left">
            <h4>Salkehatchie</h4>
        </div>
        </div>
        <%if !current_user.is_admin?%>
        <div class="col-md-5 tab">
            <ul class="nav nav-tabs nav-justified ">
                <% current_user.current_camps_assigned.each do |assignment|%>
                    <% if assignment.camp.id.to_i == params[:id].to_i %>
                    <% @current_camp = assignment.camp %>
                      <li class = "active">
                    <% else %>
                      <li>
                    <% end %>
                        <%= link_to assignment.camp.city, camp_path(assignment.camp) %>
                      </li>
                <% end %>
            </ul>
        </div>
        <% end %>

    </div>
    <div class="row index">
        <div id="sideBar" class="col-md-2 btn-group-vertical index-btn custom-vertical-nav-bar dropdown-menu">
        	<%if current_user.is_admin? %>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
                <%# link_to "Home", admin_home_path, :class => "btn"%>
                <%= link_to "Users", users_path, :class => "btn"%>
		        <%= link_to "Camps", camps_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn"></span>Directors</button>
                <%# link_to "Directors", users_path,(query for camp directors) :  class => "btn"%>
                <%= link_to "Applications", camp_requests_path, :class => "btn"%>
                <%= link_to "Payments", admin_payments_path, :class => "btn"%>
                <%= link_to "Costs", costs_path, :class => "btn"%>
                <%= link_to "Photos", photos_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
                <%# link_to "Schedule", schedule_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Queries</button>
                <%# link_to "Queries", query_path(with query), :class => "btn"%>

                <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
                <%# link_to "Home", admin_home_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Users</button>
                <%= link_to "Users", users_path, :class => "btn"%>
		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tree-conifer"></span>Camps</button>
		        <%= link_to "Camps", camps_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn"></span>Directors</button>
                <%# link_to "Directors", users_path,(query for camp directors) :  class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span>Applications</button>
                <%= link_to "Applications", camp_requests_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-check"></span>Payments</button>
                <%= link_to "Payments", payments_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-usd"></span>Costs</button>
                <%= link_to "Costs", costs_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
                <%= link_to "Photos", photos_path, :class => "btn"%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Queries</button>-->

            <% else if current_user.is_camp_director?%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
                <%# link_to "Home", director_home_path, :class => "btn"%>
                <%= link_to "Camps", camps_path, :class => "btn"%>
                <% if @current_camp %>
                <li class="divider"></li>
                    <div class="col-md-12 index-head"><h5><%= @current_camp.city %></h5></div>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Forms</button>
                    <% #link_to "Forms", forms_path, :class => "btn"%>
                    <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>-->
                    <%= link_to "Campers", camps_campers_path(@current_camp), :class => "btn"%>
                    <%= link_to "Photos", photos_path, :class => "btn"%>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span>Map</button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
                    <%# link_to "Schedule", schedule_path, :class => "btn"%>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tag"></span>Shirt Sizes</button>
                    <div class="row"><div class="col-md-12 index-head"><h5>What's my site?</h5></div></div>
                <% end %>
            <% else %>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span>Forms</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>
  		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
            <% end %>

    <% end %>
        <li class="divider"></li>
        <%= link_to "Sign Out", destroy_user_session_path, :class => "btn", :method => "DELETE" %>
        </div><div class="col-md-9"><%= yield %></div>
    </div>

  <% end%>

  <div class="col-md-6">

</div>
</body>
</html>
