<!DOCTYPE html>
<html>
<head>
  <title>SalkehatchieB</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_user %>
    <div class="row index">
        <!--<div id="sideBar" class="col-md-3 btn-group-vertical index-btn custom-vertical-nav-bar">-->
    <div id="signIn" class="col-md-offset-4">
        <div class="row list-group">
            <%= link_to "Sign Out", destroy_user_session_path, :method => "DELETE" %>
            <div class="col-md-9">
              <div class="row">
              <div class="col-md-6">
              <%= yield %>
              </div>
              </div>
            </div>
        </div>
    </div>
    </div>
  <% else %>
    <%if current_user.is_admin? %>
        <h2>Home</h2>
        <div class="col-md-12 index-head"><h5>Admin</h5><!--</div></div>-->
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span>Forms</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
        </div>
    <% else %>
        <h2>Home</h2>
        <div class="col-md-12 index-head"><h5>Camper</h5><!--</div></div>-->
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span>Forms</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
        </div>
    <% end %>
  <% end %>
      <!--<div class="row"><div class="col-md-12 index-head"><h5>Site 5</h5></div></div>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>-->

</body>
</html>
