<!DOCTYPE html>
<html>
<head>
  <title>SalkehatchieB</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% admin = false;
       director = true;
    if !current_user%>
    <div class="col-lg-offset-5">
        <div class="col-lg-offset-1">
        <h2>Salkehatchie Camps</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= yield %>
            </div>
        </div>
    </div>

    <% else %>
    <div class="row top">
        <div class="col-md-5 header">
        <div class="text-left">
            <h4>Salkehatchie</h4>
        </div>
        </div>
        <%if !current_user.is_admin?%>
        <div class="col-md-5 tab">
            <ul class="nav nav-tabs nav-justified ">
                <li class="active"><%#get primary camp %>
                    <a href="#">Primary<%# primary camp name %></a>
                </li>
                <%#for each remaining camp %>
                <li>
                    <a href="#">Secondary<%# camp name%></a>
                </li>
            </ul>
        </div>
        <% end %>

    </div>
    <div class="row index">
        <div id="sideBar" class="col-md-2 btn-group-vertical index-btn custom-vertical-nav-bar">
        	<%if current_user.is_admin? %>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Users</button>
		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tree-conifer"></span>Camps</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn"></span>Directors</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span>Applications</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-check"></span>Payments</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-usd"></span>Costs</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Queries</button>
            <% else if current_user.is_camp_director?%>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Users</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tree-conifer"></span>Camps</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn"></span>Directors</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span>Applications</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-check"></span>Payments</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-usd"></span>Costs</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Queries</button>
            <% else %>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>Home</button>
		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span>Forms</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Campers</button>
  		        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span>Photos</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>Schedule</button>
            <% end %>

    <% end %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => "DELETE" %>
        </div><div class="col-md-9"><%= yield %></div>
    </div>

  <% end%>

  <div class="col-md-6">

</div>
</body>
</html>
