<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend">
                <legend class=""></legend>
            </div>

  <div class="field">
  <%= f.text_field :email, placeholder: "Email", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :preferred_name, placeholder: "Preferred Name", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :address_line1, placeholder: "Address line 1", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :address_line2, placeholder: "Address line 2", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :city, placeholder: "City", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :state, placeholder: "State", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :district, placeholder: "District", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :gender, placeholder: "Gender", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :tshirt_size, placeholder: "T-shirt size", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">

            <label for="text-muted">
                Birth Date</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Month">Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Day">Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>

                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control">
                        <option value="Year">Year</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>

                    </select>
                </div>
            </div>
      </div>


  <div class="field">
  <%= f.text_field :phone_number, placeholder: "Phone Number (###) ###-####", class: "form-control", style: "padding:4px" %><br />
  </div>

  <div class="field">
  <%= f.text_field :mobile_devices, placeholder: "Mobile Devices", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :service_provider, placeholder: "Service Provider", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :church, placeholder: "Church", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :church_city, placeholder: "Church City", class: "form-control", style: "padding:4px" %><br />
  </div>


  <div class="field">
  <%= f.text_field :church_pastor, placeholder: "Church Pastor", class: "form-control", style: "padding:4px" %><br />
  </div>



<%  if current_user.permission_level == 5 %>
  <div class="field">


          <label for="text-muted">
              Permission Level</label>
          <div class="row">
              <div class="col-xs-4 col-md-4">
                  <%
                     permission_levels = Array.new()
                     permission_levels.push(['Admin',5])
                     permission_levels.push(['Other',1])
                  %>

                  <%= f.select( :permission_level,permission_levels) %>




  </div>
              </div>
      </div>



    <% end %>


  <div class="actions">
    <%= f.submit :class => "btn btn-default col-md-4 col-md-offset-1", style:"height:40px" %>

  </div>

<% end %>
</div>

</nav>







