<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :preferred_name %><br>
    <%= f.text_field :preferred_name %>
  </div>

  <div class="field">
    <%= f.label :address_line1 %><br>
    <%= f.text_field :address_line1 %>
  </div>

  <div class="field">
    <%= f.label :address_line2 %><br>
    <%= f.text_field :address_line2 %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state%><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :tshirt_size %><br>
    <%= f.text_field :tshirt_size %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :mobile_devices %><br>
    <%= f.text_field :mobile_devices %>
  </div>

  <div class="field">
    <%= f.label :service_provider %><br>
    <%= f.text_field :service_provider %>
  </div>

  <div class="field">
    <%= f.label :church %><br>
    <%= f.text_field :church %>
  </div>

  <div class="field">
    <%= f.label :church_city %><br>
    <%= f.text_field :church_city %>
  </div>

  <div class="field">
    <%= f.label :church_pastor %><br>
    <%= f.text_field :church_pastor %>
  </div>
<%  if current_user.permission_level == 5 %>
  <div class="field">
    <%
      permission_levels = Array.new()
      permission_levels.push(['Admin',5])
      permission_levels.push(['Other',1])
    %>
    <%= f.label :permission_level %><br>
    <%= f.select( :permission_level,permission_levels) %>

  </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
