<h1 class="text-muted">Forms</h1>
<div><h3>Covenant</h3>
<% if current_user.covenant_form %>
    <%= link_to 'Edit', edit_covenant_form_path(current_user.covenant_form) %>
<% elsif current_user.is_admin? %>
    <%= link_to 'View Covenant Forms', covenant_forms_path %>
<% else %>
<%= link_to 'Start', new_covenant_form_path() %>
<% end %>

</div>

<div><h3>References</h3>

<% if !current_user.is_admin? %>
<p>You must have 3 references.</p>
<b>Current References</b>
<table>
	<tr><td>Name</td><td>Approved</td></tr>
<% current_user.reference_forms.each do |reference| %>
	<tr><td><%= reference.name %></td><td><%= reference.approval_status %></td></tr>
<% end %>
<% end %>
</table>
<% if current_user.reference_forms.count < 3 && !current_user.is_admin? %>
    <%= link_to 'Create new Reference', new_reference_form_path() %>
<% elsif current_user.is_admin? %>
    <%= link_to 'View Reference Forms', reference_forms_path %>
<% end %>

<div><h3>Medical</h3>
<% if current_user.medical_form %>
    <%= link_to 'Edit', medical_form_path(current_user.medical_form) %>
<% elsif current_user.is_admin? %>
    <%= link_to 'View Medical Forms', medical_forms_path %>
<% else %>
    <%= link_to 'Start', new_medical_form_path() %>
<% end %></div>
<div><h3>Questionnaire</h3>
<% if current_user.questionnaire %>
    <%= link_to 'Edit', edit_questionnaire_path(current_user.questionnaire) %>
<% elsif current_user.is_admin? %>
    <%= link_to 'View Questionnaires', questionnaires_path %>
<% else %>
    <%= link_to 'Start', new_questionnaire_path() %>
<% end %></div>